/* src/pages/Home.css */

.section {
  margin: 2rem 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.main-content {
  position: relative; /* Position content on top of the background */
  z-index: 1; /* Ensure the content is above the pseudo-element */
}
