/* src/components/Header.css */
.header {
  position: fixed; /* Fixes the header to the top */
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  background-color: #141436;
  z-index: 1000;
  margin: 0;
  padding: 10px 0; /* Padding at the top and bottom */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow */
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center; /* Center the navigation items */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Adjust padding as needed */
}

nav ul li a:hover {
  text-decoration: underline;
}

.main-content {
  padding-top: 60px; /* Should match the height of the header */
}
